<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <h2>EStore</h2>
    <div>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/add-product">Add Product</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

    <h1>Products Page</h1>
    <form action="/search" method="GET" class="search-bar">
    <input type="text" name="q" placeholder="Search products...">
    <button type="submit">Search</button>
    </form>

    <div class="product-container">

        <% products.forEach(product => { %>

    <div class="product-card">

        <img src="<%= product.image %>" alt="<%= product.name %>">

        
        <p>Category: <%= product.category %></p>

        <a href="/products/<%= product._id %>">View Details</a>

    </div>

<% }) %>

    </div>

    <div class="pagination">
    <% for(let i = 1; i <= totalPages; i++) { %>
        <a href="/products?page=<%= i %>" 
           class="<%= currentPage === i ? 'active' : '' %>">
            <%= i %>
        </a>
    <% } %>
</div>

</body>
</html>